## Import libraries

In [1]:
import numpy as np
import pandas as pd

## Get the dataset

In [13]:
# Users dataset
columns = ['user_id', 'item_id', 'rating', 'timestamp']
user_ratings = pd.read_csv("ml-100k/u.data", sep = "\t", names = columns)

In [14]:
user_ratings.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [8]:
# Get the total number of unique users and movies in the dataset
print("Total users in the dataset: ", user_ratings['user_id'].nunique())
print("Total movies in the dataset: ", user_ratings['item_id'].nunique())

Total users in the dataset:  943
Total movies in the dataset:  1682

In [16]:
# Get the movies dataset
columns = []
movie_titles = pd.read_csv("ml-100k/u.item", sep="|", header = None)

movie_titles = movie_titles[[0, 1]] # Subset the first two columns containing title

In [ ]:
movie_ti